@{
    ViewBag.Title = "Borrado de calificación exitoso";
}
<h2>Borrado de calificación exitoso</h2>
<h4>Código borrrado:  @ViewBag.codigo </h4>
<p>
    @Html.ActionLink("Buscar otro código ha borrar", "BuscarCalificacion")
</p>

