@{
    ViewBag.Title = "Código de calificación no encontrado";
}
<h2>Código de calificación no encontrado"</h2>
<h4>Código buscado:  @ViewBag.codigo </h4>
<p>
    @Html.ActionLink("Buscar otro código ha borrar", "BuscarCalificacion")
</p>
