@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle.</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Usuario-Correo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4>Roles de este usuario</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>No se encontraron roles de este usuario.</p>
}


<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Listado de Usurios", "ListaUsers")
</p>



